@model Forms.Controllers.FormModel
@{
    ViewBag.Title = "Index";
}

<form method="POST" action="/" enctype="multipart/form-data">
    @Html.TextBoxFor(m => m.user.name)<br />
    @Html.DropDownListFor(m => m.selectedOption, Model.AvailableOptions.Select(o => new SelectListItem() { Text = o }))    <br />
    <input type="checkbox"/><br/>
    <input type="radio"/><br/>
    <input type="hidden"/><br/>
    <input name="avatar" type="file"/><br/>
    <input type="password"/><br/>
    <input type="submit"/><br/>
</form>